@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:30px 15px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  color:#333;
  line-height:1.4em; 
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 0.5em 0;
  line-height:1.4;
}
h3, h4, h5, h6 {
  font-size: 110%;
  color:#494949;
}
header h1 { margin: 0; padding: 0; }

h1 { font-size:170%; }
h2 { font-size:125%; }

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

p { margin-top: 20px; }
p.intro { margin:0; font-size:14px; color:#666; }
p.latest { font-size:14px; }

a {
  color:#0080ee;
  font-weight:400;
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}
h1 a, h2 a {
  color:#000;
  font-weight:bold;
}
h1 a:hover, h2 a:hover {
  color:#0080ee;
  text-decoration: none;
}

em {
  background-color:#fffeca;
  padding:0 0.08em;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

.lightbox {
  margin: 0.5em 0 20px 0;
  padding: 0.5em;
  background: #000;
  color: #fff;
  max-width: 640px;
}
.lightbox p {
  margin:0;
  padding:0;
}

.pager {
  margin: 20px 0;
  padding: 0;
  text-align: center;
  list-style: none;
  *zoom: 1;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  width: auto;
  font-size: 14px;
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: default;
  background-color: #fff;
}

ul.archive {
    list-style-type: none;
    padding: 0;
}
ul.archive small {
    margin-right: 10px;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:220px;
  float:left;
  position:fixed;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

section {
  width:700px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:12px;
  color:#666;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 1250px) {
  body {
    padding-top:15px;
  }
}

@media print, screen and (max-width: 1000px) {
  body {
    padding: 20px;
  }
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    mar/gin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
}

@media print, screen and (max-width: 920px) {
  body {
    word-wrap:break-word;
    padding: 15px;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  header p.latest {
    display: none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
